build/
out/
bin/
*.exe

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake

.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.suo
*.opensdf
*.sdf
ipch/
*.db

*.obj
*.pdb
*.ilk
*.lib
*.dll

.DS_Store
Thumbs.db

.vscode/
.idea/